@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grid-size: 10px;
    --dash-length: 50px;
    --dash-width: 1px;
    --dash-color: #e3e3e3;

// Default theme (light)
--color-bg-primary: #ffffff;
    --color-bg-secondary: #f7f7f7;
    --color-text-primary: #333333;
    --color-text-secondary: #555555;
    --color-bg-primary-r: 255;
    --color-bg-primary-g: 255;
    --color-bg-primary-b: 255;
}

html {
    @apply bg-gray-200/80;
}

.react-flow__panel {
    display: none !important;
}

.tech-tree-edit {
    /*.react-flow .react-flow__handle-right  {
        @apply rounded-full border  border-gray-200 bg-gray-950;
        width: 15px;
        height: 15px;
        margin-right: -2px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &::after {
            content: '+';
            @apply text-gray-50 text-xs;
        }
    } */
}



.bg-grid {
    background-size: 15px 15px;
    background-image:
            radial-gradient(#dfdfdf 1px, transparent 1px),
            radial-gradient(#dfdfdf 1px, transparent 1px);
    background-position: 7px 7px;
}

.horizontal {
    @apply flex items-center;
}
.vertical {
    @apply flex flex-col items-center;
}

.layout {
    @apply w-[95%] xl:w-[90%] mx-auto max-w-[1140px];
}

.tiptap {

    @apply text-xs leading-7 outline-none text-gray-800;

    p {
        @apply inline;
    }

    strong {
        @apply font-semibold text-gray-900;
    }

    h1 {
        @apply text-xl font-bold text-gray-900;
    }

    h2 {
        @apply text-lg font-bold text-gray-900;
    }

    h3 {
        @apply text-base font-bold text-gray-900;
    }

    ul {
        @apply list-disc list-inside my-2 space-y-0.5;

        li {

            p {
                @apply  inline;
            }
        }
    }
}
